<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Bienvenido a mi Proyecto Django 🚀</h1>
    <p>Selecciona una opción para navegar:</p>

    <!-- Botones de navegación -->
    <a href="{% url 'hola_plantilla' nombre='Usuario' %}" class="btn">Hola Plantilla (mi_app)</a>
    <a href="{% url 'mascota' %}" class="btn">Mascota</a>
    <a href="#" class="btn">Lista de Productos</a>
</body>
</html>
